@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
    background: rgb(33,217,173);
    background: linear-gradient(180deg, rgba(33,217,173,1) 0%, rgba(145,183,225,1) 72%);
}

.blur-background {
    filter: blur(2px);
}

.bg-gradient-navSidebar {
    background: rgb(78,131,150);
    background: linear-gradient(180deg, rgba(78,131,150,1) 0%, rgba(0,155,188,1) 100%); 
}

.phone-input {
    border-radius: 0.25rem !important;
    padding: 0.5rem !important;
    background-color: #FBF6F64A !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    border-width: 1px;
    border-color: rgb(191 219 254);
}

.phone-input > * {
    background-color: transparent;
    outline: none;
}

.svg-2F80ED {
    filter: invert(51%) sepia(57%) saturate(5001%) hue-rotate(198deg) brightness(97%) contrast(92%);
}